rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // ユーザーは自身のストアID（UID）フォルダ内にのみ画像をアップロードできる
    match /menu-images/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId
                    && request.resource.size < 1 * 1024 * 1024 // 1MB未満
                    && request.resource.contentType.matches('image/jpeg|image/png');
    }
    // QRコードのロゴ画像も同様のルールを適用
    match /qr-code-logos/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId
                    && request.resource.size < 1 * 1024 * 1024 // 1MB未満
                    && request.resource.contentType.matches('image/jpeg|image/png');
    }
  }
}
